h1 {
    color: darkblue;
    font-size: 210%;
}

p {
    font-family: monospace;
    text-indent: 20px;
    margin-left: 10px;
}

#content {
    background-color:darkseagreen;
    width:500px;
    min-height: 300px;
    margin: 10px;
    border: solid 2px green;
    padding: 10px;
    font-size: 20px;
}
